@media only screen and (min-width: 600px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

img {
    max-width: 40%;
    max-height: auto;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
